@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Variables pour les couleurs basées sur le visuel de l'image
$background-dark: #1f1f2e; 
$background-light: #27293d;
$primary-text-color: #fff; 
$secondary-text-color: #6d6d80;
$accent-color-orange: #f97300;
$accent-color-green: #1b882a;
$accent-color-blue: #4be6fe;
$accent-color-purple: #d16aff;
$accent-color-pink: #ff6ba5;
$border-radius: 8px;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

// Ajout d'une classe de carte pour les éléments
.card {
  // background-color: $background-light;
  // border-radius: $border-radius; // Utilise $border-radius pour un carré
  // box-shadow: $box-shadow;
  color: $primary-text-color;
  width: 150px; // Fixer une largeur pour une forme carrée
  height: 150px; // Fixer une hauteur pour une forme carrée
  display: flex;
  flex-direction: column;
  align-items: center; // Centrer le contenu horizontalement
  justify-content: center; // Centrer le contenu verticalement

}

// Style général
body {
  background-color: $background-dark;
  font-family: "Inter", sans-serif;
  color: $primary-text-color;
}

// Header et barre de recherche
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-dark;
  border-radius: $border-radius;
  margin: 1.5rem 1.5rem 3rem 6rem;

  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;

    input, #matriculeInput {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background-color: $background-light;
      border: none;
      font-size: 16px;
      color: $primary-text-color;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px $accent-color-orange;
      }
    }

    .CsearchButton {
      background-color: $accent-color-orange;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: $border-radius;
      color: $primary-text-color;
      cursor: pointer;
      font-weight: 300;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($accent-color-orange, 10%);
      }
    }
  }

  .name-bar {
    background-color: $background-dark;
    color: $accent-color-orange;
    font-size: 16px;
    white-space: nowrap;

    .self-name {
      font-size: 1.25rem;
      font-weight: 300;
      color: $accent-color-orange;
    }
  }
}

// Info des personnes
.person-info-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

// Conteneur pour positionner les divs person-id et self-money côte à côte
.person-id-self-money-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  .person-id {
    flex: 1;
    background-color: $background-light;
    box-shadow: $box-shadow;
    border-radius: $border-radius; // Utilise $border-radius pour un carré
    color: $secondary-text-color;

    .self-grade {
      color: $accent-color-orange;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .self-mat {
      font-size: 1.25rem;
      color: $primary-text-color;
    }
  }

  .self-money {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: $background-dark;
    width: auto;
    height: 150px;
    gap: 3rem;
    

    .self-salary, .self-remains-to-pay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 3;
      background-color: $background-light;
      box-shadow: $box-shadow;
      border-radius: $border-radius; // Utilise $border-radius pour un carré
      font-weight: 300;
      width: 200px;
      height: 100%;

      p {
        margin: 0;
        padding: 1rem 1rem 1rem 1rem;
      }

      i {
        color: $accent-color-green;
        font-size: 24px;
        padding: 1rem 1rem 0 1rem;
      }

      .amount-p {
        color: whitesmoke;
        font-size: 32px;
        font-weight: 400;
        padding: 1rem 1rem 0 1rem;
      }
    }

    .self-salary {
      color: whitesmoke;
    }
  }
}

// Conteneur des informations de salaire
.person-salary {
  display: flex;
  // justify-content: space-between;
  gap: 3rem;


  .self-total-ca, .self-bills, .self-amount-crafted, .self-expense-report {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $background-light;
    box-shadow: $box-shadow;
    border-radius: $border-radius; // Utilise $border-radius pour un carré
    font-weight: 300;
    width: 200px;
    height: 100%;

    p {
      margin: 0;
      padding: 1rem 1rem 1rem 1rem;
    }

    i {
      font-size: 24px;
      padding: 1rem 1rem 0 1rem;
    }
    .amount-p {
      color: whitesmoke;
      font-size: 32px;
      font-weight: 400;
      padding: 1rem 1rem 0 1rem;
    }
  }

  .self-total-ca, .self-bills {
    color: $accent-color-blue;
  }

  .self-amount-crafted {
    color: $accent-color-purple;
  }

  .self-expense-report {
    color: $accent-color-pink;
  }
}

// Affichage de tous les matricules
.all-person-info {
  background-color: $background-light;
  padding: 1.5rem;
  border-radius: $border-radius;
  margin: 0 3rem 3rem;
  box-shadow: $box-shadow;

  .all-person-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 300;

    .all-mat {
      display: flex;
      justify-content: flex-end;
      width: 15%;
      color: $accent-color-blue;
    }

    .all-name {
      color: $accent-color-orange;
      font-weight: 500;
      font-size: 22px;
    }

    .all-grade {
      width: 15%;
      color: $secondary-text-color;
      font-weight: 300;
      font-size: 16px;
    }
  }
  
  .all-person-salary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;

    .all-salary {
      color: $accent-color-orange;
      font-weight: 700;
    }

    .all-total-ca {
      color: $accent-color-blue;
    }

    .all-bills {
      color: $primary-text-color;
    }

    .all-amount-crafted {
      color: $accent-color-purple;
    }

    .all-expense-report {
      color: $accent-color-pink;
    }

    .all-remains-to-pay {
      color: $primary-text-color;
      font-weight: 700;
    }
  }
}

// Responsive adjustments for mobile view
@media (max-width: 768px) {
  .person-id-self-money-container, .person-salary {
    flex-direction: column;
  }

  .person-salary {
    gap: 1rem;
  }

  .person-info, .all-person-info {
    flex-direction: column;

    .all-person-id, .all-person-salary {
      width: 100%;
    }
  }

  .search-bar {
    flex-direction: column;

    input {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

#searchButton {
  visibility: hidden;
  position: absolute;
}
